<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.UserMapper" >

        <insert id="addList" parameterType="java.util.List">
            insert into user ( name, dharma, sex, province, city, sign, password, salt, reg_date, status)
            values <foreach collection="list" item="item" index="index" separator=",">
            (
             #{item.name},#{item.dharma},#{item.sex},#{item.province},#{item.city},#{item.sign},#{item.password},#{item.salt},#{item.regDate},#{item.status}
            )


        </foreach>



        </insert>

    <select id="getUserRegist" resultType="Integer">
    <![CDATA[
        select count(*) from user where datediff(now(),reg_date)< #{big}  and datediff(now(),reg_date)>=#{small}
        ]]>
    </select>


    <select id="getUserProvince" resultType="ProvinceJson">
        select count(*) value,province name from user group by province
    </select>

    <select id="getUserProvinceMan" resultType="ProvinceJson">
        select count(*) value,province name from user where sex='男' group by province
    </select>
    <select id="getUserProvinceWoMan" resultType="ProvinceJson">
        select count(*) value,province name from user where sex='女' group by province
    </select>
    <select id="getMamber" resultType="User">
        select * from user where id!=#{uid} limit 0,5
    </select>

</mapper>